* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --pink: #ef66b3;
  --blue: #02a1e9;
  --dark-blue: #031321;
}
.container-1 {
  background-color: var(--blue);
}
/* FOOTER */
.footer {
  background-color: var(--dark-blue);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
  padding: 2rem;
}
.footer-link {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 2rem;
  letter-spacing: 2rem;
  text-shadow: 2px 2px 2px black;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: var(--blue);
}
.footer-link:hover {
  color: #255784;
  background: var(--blue);
  box-shadow: 0 0 20px var(--blue), 0 0 80px var(--blue), 0 0 160px var(--blue),
    0 0 320px var(--blue);
  transition-delay: 1s;
}
.footer-link span {
  position: absolute;
}
.footer-link:hover span:nth-child(1) {
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, var(--blue));
  top: 0;
  left: -100%;
  animation: footer-span-anim1 1s linear;
  animation-iteration-count: 1;
}
@keyframes footer-span-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}
.footer-link:hover span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--blue));
  animation: footer-span-anim2 1s linear 1;
  animation-delay: 0.25s;
}
@keyframes footer-span-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.footer-link:hover span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, var(--blue));
  animation: footer-span-anim3 1s linear 1;
  animation-delay: 0.5s;
}
@keyframes footer-span-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
.footer-link:hover span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--blue));
  animation: footer-span-anim4 1s linear 1;
  animation-delay: 0.75s;
}
@keyframes footer-span-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
